*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
body{
    background-color: rgba(0, 0, 0, 0.906);
    background: url('background.jpg') no-repeat center center fixed;
    backdrop-filter: blur(10px);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vmin;
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    color: whitesmoke;
    position: sticky;
    background-color: rgba(239, 177, 22, 0.765);
    margin-top: 2vmin;
    padding: 1vmin;
    box-shadow:0 0 1vmin 0.5vmin rgba(0, 0, 0, 0.5);   
}
p{
    margin: 0;padding: 0;
}
.treDisp{    
    background-color: rgba(169, 130, 30, 0.132);
    min-width: 25%;
    padding: 1vmin;
    margin: 1vmin;
    color:rgba(255, 255, 255, 0.863);
    border-radius: 1vmin;
    min-height: 60vmin;
    font-size: 3vmin;
    font-weight: 100;
   
   
}
.trekPhoto{
    
    width: 100%;
    height: 50%;
    display: block;   
   overflow: hidden;
    border-radius: 1vmin;
    margin-bottom: 2vmin;
    font-size: 5vmin;
}
img{
 width: 100%;
 height: 100%;
 object-fit: cover; /* Ensures the image covers the entire container */
 padding: 0;
 margin: 0;
}
.topTrek{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    background-color: rgba(0, 0, 0, 0.776);
    padding: 1vmin;
    margin: 2vmin;
    margin-top: 10vmin;
    border-radius: 1vmin;
    box-shadow: 0 0 1vmin 0.5vmin rgba(0, 0, 0, 0.5);
    width: 94%;
    margin: 7vmin auto;
    scroll-behavior: smooth;
    min-height: max-content;

}
.topTrek::-webkit-scrollbar{
    display: none;
}   
.leftArrow svg,.rightArrow svg{
    width: 15vmin;
    height: 100%;
    color:rgb(224, 172, 38);
    align-self: center;
    
}
.leftArrow{
    align-self: center;
    position: absolute;
    
    left: 2vw;
   

}
.rightArrow{
    align-self: center;
    position: absolute;
    right: 2vw;
}


@media screen and (max-width: 800px){
    nav{
        font-size: 6vmin;
        justify-content: start;
        margin-top: 0;
        padding: 3vmin;
       
    }
    .topTrek{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        width: 100%;
        margin: 0;
        padding: 0;
       
    }
    .treDisp{
        margin-top: 3vmin;
        width: 90%;
        margin: 1vmin;
        font-size: 4vmin;
        padding: 2vmin;
    }
    .leftArrow,.rightArrow{
        display: none;
    }
   
    
}