
:root {
    --eerie-black: #1D2428ff;
    --walnut-brown: #615C56ff;
    --taupe: #493C33ff;
    --sunset: #ECC289ff;
    --sandy-brown: #FEA154;
    --blue:#004969;
}

* {
    font-family: "Big Shoulders Inline", sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
    background-color: #f78c21;
}
body::-webkit-scrollbar{
    display: none  ;
}
.background {
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    
    height: 100vh;
    
   
   
}

.navbar {
   display: flex;
   
    justify-content: center;
    align-items: center;
    
    font-size: 5vmin;
    color: whitesmoke;
    
    position: sticky;
    
   

    
}

.logo {
    font-size: 4vmin;
    color: #cb5506;
    display: inline-block;
    padding-top: 2vmin;
    padding: 2vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}


img{
    padding: 1vmin;
    
    left: 5px;
}

nav {
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    margin: 0;
    padding-top: 1vmin;
    width: 65%;

   
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
   
   transition: all 0.5s;
}
nav a:hover {
    color: rgb(171, 22, 22);
    /* text-shadow: 1px 1px 10px rgb(179, 29, 29); */
}
.login {
    font-family: 'roboto', sans-serif;
    font-size: 3vmin;
    margin: 2vmin;
    align-items: center;
    overflow: auto;
    position: relative;
    left: 5vmin;
    display: inline-block;
    /* border: 2px solid rgb(89, 8, 8); */
}
#join {
    
    
    color: rgb(255, 255, 255);
    
      
    background-color: rgba(248, 248, 248, 0.116);
    border-radius: 5px;
    padding: 2vmin;
    transition: all 0.5s;
    
}
#join:hover {
    color: rgb(255, 255, 255);
    background-color:rgb(46, 46, 157);

    
    /* text-shadow: 1px 1px 10px rgb(179, 29, 29); */
}
div+p{
    margin-top: 30vmin;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri;
    font-size: 14vmin;
    visibility: visible;
    color: rgb(173, 14, 14);
    margin-left: 10vmin;
          
}
p+p{
   
    font-size: 12vmin;
}
footer{
    margin-top: 40vmin;
    margin-left: 10vmin;
}
.info{
    margin-top: 10vmin;
    font-size: 5vmin;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    width: 65vw;
    color: #f1faee;
}

footer{
    background-color:rgb(85, 78, 156);
    background-image: url("https://cvsqtgaxsa.cloudimg.io/https://images.prismic.io/indiahike/Z41A_pbqstJ99nPY_Sandakphu-Phalut-Swati-Gavde-Sunset-Hues-Cloudbed-and-the-Sleeping-Buddha-1-3-.jpg?&func=crop&q=70&org_if_sml=1");
    width: 100%;
   
    background-position-y: 65%;
    margin: 0;
    padding-bottom: 4vmin;
    color: rgb(255, 103, 8);
    font-size: 4vmin;
    font-family:  'Lucida Sans Regular','Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}
.contact{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 10vmin;
   
}   
.contact div{
   border: #e0760c 1px solid;
   display: inline-block;
   margin: 2vmin;
   width: 30%;
   align-self: start;
    padding: 2vmin;
}
.contact p{
    padding-top: 3vmin;
    font-size: 3vmin;
    color: rgb(255, 103, 8);
    
}
.contact a{
    color: rgb(255, 103, 8);
    text-decoration: none;
}
.contact img{
    width: 6vmin;
    height: 6vmin;
    padding: 2vmin 10%;
}

#about{
  
    
  border: 1px solid #000000;
    width: 90%;
    margin: 10vmin auto;	
}
.aboutImg{
    width: 100%;
    padding: 2vmin;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    box-sizing: border-box;  
   
   
}
.aboutImg img{
    width: 30%;
    height: 100%;
    object-fit: cover;
}
.aboutText{
   display: flex;
   justify-content: space-around;

}
.aboutText p{
    font-size: 3vmin;
    color: #130a00;
    padding: 2vmin;
    width: 40%;
    text-align: justify;    
}

/*////////////////////////treks //////////////////*/
.leftArrow svg,.rightArrow svg{
    width: 15vmin;
    height: 100%;
    
    align-self: center;
    
}
.leftArrow{
    align-self: center;
    position: absolute;
    
    left: 5vw;
   

}
.rightArrow{
    align-self: center;
    position: absolute;
    right: 5vw;
}
.topTrek{
    /* border: 2px solid seagreen; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    max-width: 90vw;
    margin: 30px auto;
    height: 400px;
    background-color:rgba(0, 0, 0, 0.776);
    scroll-behavior: smooth;
    border-radius: 5px;
  

}
.topTrek::-webkit-scrollbar{
    /* background-color: #ffffff; */
    display: none;
}
.trekDisp{
   
    min-width: 35vw;
   
    margin: 20px;
    background-color: rgba(169, 130, 30, 0.132);
    font-size: 40px;
    color: aliceblue;
    padding: 1vmin;
    height: 50vmin;
    border-radius: 5px;
    
    
    
    /* animation: scroll 30s linear 0ms infinite; */
}
.trekPhoto{
   
    background-color: rgba(169, 130, 30, 0.132);
    width: 100%;
    height: 80%;
    display: block;   
   overflow: hidden;
    border-radius: 1vmin;
    margin-bottom: 2vmin;   
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.trekPhoto img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    padding: 0;
    margin: 0;

}
#trekName{
    font-size: 5vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    margin-top: 1vmin;
    text-align: justify;
 
    
    /* text-align: center; */
}
@keyframes scroll{
    0%{
        transform: translateX(40);
    }
    100%{
        transform: translateX(calc(-40vw * 3));
    }
}
@media screen and (max-width: 768px){
    .topTrek{
        flex-direction: column;
       
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        height: 100%;
    }
    .trekDisp{
        min-width: 80vw;
        height: 80vh;
    }
    .trekPhoto{
        height: 80%;
    }
    .trekPhoto img{
        height: 100%;
    }
    .leftArrow,.rightArrow{
        display: none;
    }
    .contact{
        flex-direction: column;
        width: 100%;
    }
    .contact div{
        width: 90%;
    }

    .navbar {
        flex-direction: column; /* Stack items vertically */
        justify-content: center;
        align-items: center;
        font-size: 4vmin; /* Adjust font size for smaller screens */
        padding: 2vmin;
    }
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3vmin;
        margin: 2vmin 0;
    }

    .navbar a {
        margin: 1vmin 0; /* Add spacing between links */
        font-size: 5vmin; /* Adjust link font size */
    }
    .login{
        margin: 1vmin auto;
        position:static;
       
    }
}